header{
    background-color: var(--primary-color);
    display: flex;
    justify-content:center;
    align-items: center;
    color: var(--white);

}

body{
    margin: auto;
}

footer{
    background-color: var(--primary-color);
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    overflow: hidden; 

}

article{
    display: flex;
    justify-content: left;
}

h1{
    margin-left: auto;
}

h2{
    color: var(--grey-text-color);
}

button{
    background: var(--primary-color);
}


.grid-selector{
    display: none;
}



.grid-selector-button{
    margin-left: auto;
    padding-right: 1.5em;
}

.grid-selector-visible{
    display: block;
}


.icon{
    background-color: var(--grey-text-color);
}